.formulaireDiv{
    background-color: var(--secondary-color);
    max-width: 100%;
    width: 600px;
    min-width: min-content;
    display:inline-block;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--form-input-text-color);
    padding: 20px;
    overflow: hidden;
    color: var(--secondary-text-color);
}

.formulaireDiv label {
    color: var(--secondary-text-color);
}

.formulaireDiv select, .formulaireDiv input, .formulaireDiv button {
    width: 60%;
}

.formulaireDiv select, .formulaireDiv input {
    background-color: var(--bg-form-input-color);
    color: var(--form-input-text-color);
}

.titreFormulaire{
    color: var(--main-btn-color);
    font-family: Impact, serif;
    font-size: 3em;
    line-height: 1.1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--main-btn-text-color);
}

.formulaireDiv button{
    margin-top: 20px;
}

.formulaireDiv input, .formulaireDiv select{
    border-radius: 5px;
    border: 2px solid var(--form-input-text-color);
}

.inputGrise{
    background-color: var(--form-disabled-input-color);
    opacity: 50%
}