.statDiv {
    padding: 30px;
}

.statDiv img {
    margin-bottom: 20px;
}

.noteMoyenne {
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    padding: 10px 5px 10px 5px;
    position: absolute;
    bottom: -10px;
    right: -20px;
}

.divMedian{
    display: inline-block;
    background-color: var(--special-bg-color);
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    border: 3px solid var(--accent-contour-color);
    width: 80%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divExterne{
    display: inline-block;
    background-color: var(--bg-card-color);
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    border: 3px solid var(--card-text-color);
    width: 70%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divCategorie{
    display: inline-block;
    background-color: var(--main-btn-color);
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    border: 3px solid var(--main-btn-text-color);
    color: var(--main-btn-text-color);
    width: 70%;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;

}

.soustitre{
    font-weight: bold;
}
